<div class="container">
  <div class="portfolio">
    <h1>Portfolio</h1>
    <% sum = 0 %>
    <% @shares.each do |share| %>
          <% total_value = (share.share_value.to_f * share.share_amount.to_f) %>
          <% sum += total_value %>
    <% end %>

    <% total_balance = sum + current_user.balance %>

    <div class="portfolio-container">
      <div class="secition-left col-4">
        <p><strong>Wallet</strong></p>
        <p>€<%= sum %></p>
        <p><strong>Cash</strong></p>
        <p>€ <%= current_user.balance %></p>
        <p><strong>Total Balance</strong></p>
        <p>€ <%= total_balance %></p>
      </div>
        <div class="section-middle col-4 text-center">
          <img src="https://www.fireblog.nl/wp-content/uploads/2019/12/SP10yr-1.jpg" alt="" style="width: 100%">
        </div>
      <div class="section-right col-4 text-end">
        <p><strong>Daily profit</strong></p>
        <p>€52,-</p>
        <p><strong>Total profit</strong></p>
        <p>€750</p>
        <p><strong>Total profit</strong></p>
        <p>25%</p>
      </div>
    </div>
  </div>

  <div class="share-container">
  <h2>My shares</h2>
      <div class="card-table">
      <table>
        <tr id="first-row">
          <th>Book Title</th>
          <th>Shares</th>
          <th>Share value</th>
          <th>P&L %</th>
          <th>Total</th>
        </tr>
          <% @shares.each do |share| %>
            <tr>
            <th><%= share.book.title %></th>
            <th><%= share.share_amount %></th>
            <th>€ <%= share.share_value.to_f %></th>
            <th>3,2%</th>
            <% total_value = (share.share_value.to_f * share.share_amount.to_f) %>
            <th>€ <%= total_value %></th>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
