<div class="container">
  <h1 class="title-mp">My Portfolio</h1>
  <div class="portfolio">
    <% sum = 0 %>
    <% @shares.each do |share| %>
      <% total_value = (share.share_value.to_f * share.share_amount.to_f) %>
      <% sum += total_value %>
    <% end %>

    <% total_balance = sum + current_user.balance %>

    <div class="portfolio-container">
      <div class="secition-left col-3">
        <p><strong>Wallet</strong></p>
        <p>€<%= sum.round(2) %></p>
        <p><strong>Cash</strong></p>
        <p>€ <%= current_user.balance.round(2) %></p>
        <p><strong>Total Balance</strong></p>
        <p>€ <%= total_balance.round(2) %></p>
      </div>
        <div class="section-middle col-6 text-center">
          <% if current_user.balance <= 50 %>
            <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1670490770/portfolio-chart-new_kauylt.png" alt="Portfolio image" style="width: 100%">
          <% else %>
            <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1670490782/portfolio-chart_p0dsrv.png" alt="Portfolio image" style="width: 100%" >
          <% end %>
        </div>
      <div class="section-right col-3 text-end">
        <p><strong>Daily profit</strong></p>
        <p>€52,-</p>
        <p><strong>Total profit</strong></p>
        <p>€750</p>
        <p><strong>Total profit</strong></p>
        <p>25%</p>
      </div>
    </div>
  </div>

  <div class="share-container">
  <h2>My shares</h2>
      <div class="card-table">
      <table>
        <tr id="first-row">
          <th>Book Title</th>
          <th>Shares</th>
          <th>Share value</th>
          <th>P&L %</th>
          <th>Total</th>
        </tr>
          <% @shares.each do |share| %>
            <tr>
            <th><%= share.book.title %></th>
            <th><%= share.share_amount %></th>
            <th>€ <%= share.share_value.to_f.round(2) %></th>
            <th>3,2%</th>
            <% total_value = (share.share_value.to_f * share.share_amount.to_f) %>
            <th>€ <%= total_value.round(2) %></th>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
