<%= link_to book_path(book), style: "text-decoration: none;" do %>
<div class="my-card grid-item" style="<%= width %>">
  <div class="growth">
    <p>+ 3,6 %</p>
  </div>

  <div class="d-flex">
    <div class='image-container'>
    <% if book.photo.present? %>
      <%= cl_image_tag book.photo.key, class: "book-cover"%>
    <% else %>
      <img src="https://mpd-biblio-covers.imgix.net/9781250847959.jpg?" class="book-cover" alt="book-cover">
    <% end %>

    </div>

    <div class="book-info">
      <h5><%= book.title %></h5>
      <h6><i><%= book.psuedoname %></i></h6>
      <% if book.description.length > 120 %>
        <p><%= book.description.first(120) %>...</p>
      <% else %>
        <p><%= book.description%></p>
      <% end %>
    </div>
  </div>

  <div>
    <div class="info-bar">
      <% book.tag_list.each do |tag| %>
          <p><%= tag %></p>
      <% end %>
    </div>

    <div class="button-white-horizontal small mb-5 mx-auto"><h4>€ 3,53</h4></div>
  </div>
</div>
<% end %>
