<%= render "shared/banner" %>
<div class="container">
  <%= link_to "#section-1", style: "text-decoration: none;" do %>
    <i class="fa-solid fa-hand-point-down fa-5x m-100 d-flex justify-content-center py-4"></i>
  <% end %>

  <section id="section-1">
  <div class="mission">
    <h2>Our Mission</h2>
      <p>The publishing industry has ignored underrepresented minorities for too long and Ghostwriter wants to put the power back in the author's pen. Ghostwriter wants to rewrite a world where authors aren't repressed by the publishing industry and are able to choose their own editors, illustrators and distributors. Where they aren't silenced by the limitations placed upon them by those who don't understand and don't support them. At Ghostwriter we beleieve that you know how to write for people like you.</p>

      <p>As the investment industry becomes more and more induvidualised, many communities are being left behind. We want to make investment more accessible for those who haven't been given the tools to learn, <strong>and</strong> we're making it fun <strong>and</strong>we're supporting a whole new generation of writers.</p>
  </div>

    <%= link_to "#section-2", style: "text-decoration: none;" do %>
      <i class="fa-solid fa-hand-point-down fa-5x m-100 d-flex justify-content-center my-5"></i>
    <% end %>
  </section>
  <section id="section-2">
    <div class="w-100 text-center my-3">
      <iframe width="840" height="457" src="https://www.youtube.com/embed/2AeOfYAJJ8o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="button-container">
      <%= link_to "I'm An Investor", learn_investment_path , class: "btn btn-outline-dark btn-lg"%>
      <%= link_to "I'm An Author", self_publication_path , class: "btn btn-outline-dark btn-lg" %>
    </div>
    <div class="m-100 text-center">
      <p>Or...</p>
      <%= link_to "Jump Straight To Library", self_publication_path , class: "btn btn-outline-secondary btn-lg" %>
    </div>
</div>
  </section>
