<div class="container">
  <h1>Invest in books</h1>

  <%= render "shared/dashboard", width: "width: 800px;" %>

  <%= link_to "Place your own book", new_book_path %>

  <div class="grid-container">
    <% @books.each do |book| %>
      <%= render "shared/card", width: "", book: book %>
    <% end %>
  </div>
</div>

<% @books.each do |r| %>
  <h2><%= r.title %></h2>
  <p>
    <% r.tag_list.each do |tag| %>
      <%= link_to tag, tagged_path(tag: tag) %>
    <% end %>
  </p>
<% end %>
