<div class="">
  <h1>Invest in books</h1>


  <%= render "shared/dashboard", width: "width: 800px;" %>

  <%= link_to "Place your own book", new_book_path %>

  <div class="container">

    <div class="search-bar" data-controller="search-books">
        <%= form_with url: books_path, method: :get, html: {class:
          "mb-4", data: {search_books_target: "form"}} do |f| %>
          <%= f.text_field :query,
                    class: "form-control",
                    placeholder: "Type a book title",
                    value: params[:query],
                    data: {search_books_target: "input"} %>
        <% end %>
    </div>

    <div class="grid-container">

      <% @books.each do |book| %>
        <%= render "shared/card", width: "", book: book %>
      <% end %>

    </div>

  </div>
</div>

<% @books.each do |r| %>
  <h2><%= r.title %></h2>
  <p>
    <% r.tag_list.each do |tag| %>
      <%= link_to tag, tagged_path(tag: tag) %>
    <% end %>
  </p>
<% end %>
