<div class="container">
  <div class="all-books">
    <div class="title">
      <h1 class="title-books">All<br>books</h1>
    </div>
    <div class="dashboard">
      <%= render "shared/dashboard", width: "width: 800px;" %>
    </div>
  </div>

    <% cats = [ "Fantasy", "Romance", "Mystery", "Horror", "Thriller", "Paranormal", "Historical Fiction", "Sci-Fi", "Dystopian", "Memoir", "Art", "Self Help", "Motivational", "Health", "History", "Travel Guide", "Cookbook", "Poetry", "Erotic", "Female Author", "Trans Author", "Queer Author", "Non-Binary Author", "POC Author", "Black Author", "Asian Author", "LatinX Author", "Indegenous Author", "Agender Author", "Polysexual Author", "Disabled Author", "Neurodivergent Author", "Literary Prize", "Critically Acclaimed", "Dark", "Cerebral", "Inspiring", "Slow-Burn", "Psychological", "Quirky", "Coming Of Age", "Cultural", "Social Commentary", "Sunday Reading", "Guilty Pleasure", "Strong Female Lead", "Queer Romance", "Manga/Anime", "Graphic Novel", "Children's Book", "Design"] %>

    <%= form_with url: books_path, method: :get, html: {class: "mb-4", data: {search_books_target: "form", controller: "tag-list"}} do |f| %>
      <div id="checkboxes">
        <% cats.each do |item| %>
            <label for="<%= item %>" class="checkbox-tag" data-tag-list-target="checkbox" data-action="click->tag-list#toggleActive">
            <input name="<%= item %>[<%= item %>]" class="checkbox checkbox-tag-input" type="checkbox" id="<%= item %>"  value="<%= @selected_cats.include?(item)? "1" : "0"%>"><%= item %></label>
        <% end %>
        <%= f.submit class: "btn btn-outline-warning btn-large" %>
      </div>
    <% end %>

  <div class="grid-container">
    <% @books.each do |book| %>
      <%= render "shared/card", width: "", book: book %>
    <% end %>
  </div>
</div>
