<div class="container">

  <div class="d-flex justify-content-between">

    <% if @book.photo.present? %>
      <%= cl_image_tag @book.photo.key, class: "book-cover"%>
    <% else %>
      <img src="https://mpd-biblio-covers.imgix.net/9781250847959.jpg?" class="book-cover" alt="book-cover">
    <% end %>

    <div class="description" data-controller="select-amount">
      <div class="top-section">
        <div class="title">
          <h1><%= @book.title %></h1>
          <h5><i>By <%= @book.psuedoname %></i></h5>
        </div>

        <div class="value-list-item">
          <h4>Share price</h4>
          <p >€ <span data-select-amount-target="price"> <%= @book.current_share_value.round(2) %></span></p>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div id="graph">
          <% if  @book.created_at == Date.today %>
            <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1670490792/starting-chart_ujqsfp.png" alt="chart">
          <% elsif @book.current_share_value <= 1.6 %>
            <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1670490757/Losing-chart_ik5fty.png" alt="chart">
          <% elsif @book.current_share_value > 1.6 %>
            <img src="https://res.cloudinary.com/dsl9ixl0t/image/upload/v1670490747/chart_1_ovhu6b.png" alt="chart">
          <% end %>
        </div>

      <div class="item-right">
          <div id="share_value">
            <p>Total </p>
            <p>€ <span data-select-amount-target="text">0</span></p>
          </div>

        <div id="form" style="z-index: 100;">
          <%= simple_form_for [@book, @share] do |f| %>
          <%= f.input :share_amount, input_html: { value: 0,  "data-action": "change->select-amount#calculateValue", style: "z-index: 100;" }, label: "Select amount of shares" %>
          <input type="hidden" id="selected-value" name="selected-value" value="0" data-select-amount-target="value">
          <%= f.submit value: "SELL", class: "btn btn-outline-danger btn-lg", name: 'sell' %>
              <%= f.submit value: "BUY", class: "btn btn-outline-success  btn-lg", name: 'buy' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tab-container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><p>Description</p></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"> <p>Author</p></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false"><p>Financials</p></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false"><p>Analysis</p></button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <p><%= @book.description %></p>
    </div>

    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <p><%= @book.author_description %></p>
    </div>

    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
      <p>Financials</p>
    </div>

    <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
      <p>Analysis</p>
    </div>

  </div>

  <%= link_to "Edit", edit_book_path(@book) %>
  <%= link_to "Back", books_path %>

</div>
