<div class="container mt-5">
  <h1><%= @book.title %></h1>
  <h2><%= @book.psuedoname %></h2>

  <section class="d-flex justify-content-between">

    <% if @book.photo.present? %>
      <%= cl_image_tag @book.photo.key, class: "book-cover"%>
    <% else %>
      <img src="https://mpd-biblio-covers.imgix.net/9781250847959.jpg?" class="book-cover" alt="book-cover">
    <% end %>

    <div class="description">
      <div>
        <h2><%= @book.title %></h2>


        <ul class="list-group list-group-flush mt-3">
          <li class="list-group-item">Author: Remco Jonk</li>
          <li class="list-group-item">Price: € <%= @book.value %></li>
          <li class="list-group-item">Shares own: <%= @my_shares %></li>
          <li class="list-group-item">Shares availible: <%= @book.total_amount %></li>
        </ul>
      </div>
      
      <div class="d-flex justify-content-between">
        <%= simple_form_for [@book, @share] do |f| %>
        <%= f.input :share_amount, input_html: { value: 0 }, label: "Select amount of shares" %>
        <%= f.submit value: "buy", class: "button-grey" %>
        <% end %>
      </div>
    </div>
  </section>

  <div class="info-section">
    <div class="navigation-bar">
      <%= link_to "Description", book_path(@book, section: "description" ) %>
      <%= link_to "Author", book_path(@book, section: "author") %>
      <%= link_to "Financials", book_path(@book, section: "financial") %>
      <%= link_to "Analysis", book_path(@book, section: "analysis") %>
    </div>

    <div class="content-section">

      <% case @section %>
        <% when "description" %>
          <%= render "shared/description", book: @book %>
        <% when "author" %>
          <%= render "shared/author", book: @book %>
        <% when "financial" %>
          <%= render "shared/financial", book: @book %>
        <% else "analysis"%>
          <%= render "shared/analysis", book: @book %>
      <% end %>

    </div>
  </div>
  <%= link_to "Edit", edit_book_path(@book) %>
  <%= link_to "Back", books_path %>
</div>
