<!DOCTYPE html>
<html>
  <head>
    <title>Ghostwriter investments | Low cost | Online trading platform</title>
    <meta name="description" content="We bring the power back to the people. Raise capital to publish your books or earn money by investing in unique authors and books ">
    <%#= favicon_pack_tag 'ghostwriter-favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@7/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@7/swiper-bundle.min.js"></script>
  </head>

  <body>
  <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
   <%= render "shared/footer" %>
  </body>
</html>
